/*
COLORES: #008c9e; #005c66;
FONTFAMILY:font-family: 'Golos Text', sans-serif; font-family: 'Source Sans Pro';

*/
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}
/*HEADER Y MENU DE NAVEGACIÔN*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Golos Text', sans-serif;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #008c9e;
    text-decoration: underline;
  }
  /*BODY*/
  body {
    margin: 0;
  }
  
/* IMAGEN DE LA PRIMERA SECCIÔN*/
.nodo-section {
    background-image: url('./images/bgnodosimg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .nodo-firstImg {
    width: 100%;
    height: 100%;
  }
  /*INFO CONTENIDO PRINCIPAL*/
  .nodo-info {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 800px;
    font-family: 'Source Sans Pro';
  }
  /*BUTTON UNETE*/
  button {
    background-color: #008c9e;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  button a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  button:hover {
    background-color:#005c66;
  }
  /*DIVISION DE CATEGORIAS DE TALLERES*/
  /* ESTILOS PARA LA SECCIÓN DE CARROUSEL */
  .mentorias-section {
    font-family: 'Source Sans Pro';
  }
  .carousel-section {
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  
  .carousel-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
  }
  .carousel-title p {
    font-size: small;
    font-weight: bold;
  }
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .carousel-card {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
    width: 300px;
    transition: transform 0.5s ease;
  }
  /*EFECTO DE LEVITAR CARDS */
  .carousel-card:hover {
    transform: translateY(-5px); 
  }
  
  .carousel-card img {
    width: 100%;
    height: 200px;
    object-fit: cover; /*object-fit: cover asegura que la imagen se adapte al tamaño del contenedor y cubra todo el espacio disponible sin distorsionar la relación de aspecto de la imagen.*/
  }
  
  .carousel-card-content {
    padding: 20px;
  }
  
  .carousel-card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .carousel-card-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #777;
}
/*SECCION DE ABOUT US O NOSOTROS*/
.about-section {
    background-color: #f9f9f9;
    padding: 80px 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .about-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-container h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .about-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-container button {
    background-color: #008c9e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .about-container button:hover {
    background-color: #005c66;
    cursor: pointer;
  }
  
  /*FOOTER*/
  footer {
    background-color: #252525;
    color: #fff;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.7rem;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    line-height: 1; /*altura contenedora del <p> franja */
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #008c9e;
  }
  
  /*SECCION DEL PODCAST*/
  .podcast-section {
    background-color: #f6f6f6;
    padding: 60px 0;
  }
  
  .podcast-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  button {
    background-color: #008c9e;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  button:hover {
    background-color: #005f6b;
    cursor: pointer;
  }
  



  